body {
  background-color: #303030;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
}

.icon {
  font-size: 35px;
  color: #fff;
}
a {
  color: white;
}
a:hover {
  color: rgb(255, 208, 79);
}
